/*  css for card component */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cards-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;

}

.card {
    width: 15rem;
    max-width: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 1rem;
    max-height: 25rem;
    position: relative;
    display: grid;
    font-family: 'Roboto Condensed', monospace;
    grid-template-areas:
        "card-container"
        "card-container"
        "card-container"
        "card-container"
        "card-container"
        "card-container"
        "card-footer";
}

.card-horizontal {
    grid-template-areas:
        "card-container"
        "card-container"
        "card-footer";
    width: 25rem;
    max-width: 30rem;
}

.card-container {
    grid-area: card-container;
    cursor: pointer;
    width: 100%;
}

.card-horizontal .card-container {
    display: flex;
    flex-direction: row;
}

.card-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.card-image-overlay .card-container {
    width: 100%;
}

/* start of card image */

.card .card-container .card-image-container {
    display: block;
    width: 100%;
    grid-row: 1 / 3;
}


.card .card-container .card-image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


.card-horizontal .card-container .card-image-container img {
    max-width: 100%;
    width: auto;
    height: 100%;
}

.card-image-overlay .card-container .card-image-container {
    position: relative;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
}

.card-image-overlay .card-container .card-image-container img {
    width: auto;
    height: auto;
    object-fit: cover;
}


/* end of card image  */


/* start of card header */

.card .card-container .card-header {
    font-size: var(--font-size-extra-small);
    grid-area: card-header;
    display: flex;
    flex-flow: column;
}


.card-horizontal .card-container .card-header {
    grid-area: card-header;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.card-image-overlay .card-container .card-image-container:hover .card-header {
    display: block;
}

.card-image-overlay .card-container .card-header {
    display: none;
}
.card-image-overlay .card-container .card-header {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: 'Roboto Condensed', monospace;
    width: 100%;
    text-shadow: 0 1px rgb(167, 165, 165);
    mix-blend-mode: difference;
    text-align: start;
    justify-content: flex-end;
    font-size: 3rem;
}

.card-header .card-heading {
    padding-left: var(--padding-small);
    padding-top: var(--padding-small);
    font-weight: bolder;
    font-size: var(--font-size-large);
}

.card-header .card-subheading {
    font-weight: bold;
    padding-left: var(--padding-small);
    font-size: var(--font-size-extra-small) !important;
}

/* end of card header */

.card .card-container .card-description {
    grid-area: card-description;
    padding: var(--padding-extra-small) var(--padding-small);
    font-size: 0.8rem !important;
    grid-row: 5 / 6;
}



/* start of card footer */

.card-footer {
    grid-area: card-footer;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    padding: 0 var(--padding-extra-small);
}

.card-footer .card-button-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-gap: 1rem;
}

.card-footer .card-button {
    cursor: pointer;
    padding: 0.8rem 0.3rem;
    background-color: white;
    color: #6200ee;
    font-weight: bolder;
    text-transform: capitalize;
    border: none;
    font-size: 0.6rem;
}

.card-button:hover {
    background-color: rgba(98, 0, 238, 0.1);
}


.card-footer .button-add-to-cart {
    color: #f1bb00;
    border-radius: var(--border-radius-extra-small);
}

.card-footer .button-add-to-cart:hover {
    background-color: #f1bb00;
    color: white;
}

.card-footer .button-buy-now {
    color: #f69b09;
    border-radius: var(--border-radius-extra-small);
}

.card-footer .button-buy-now:hover {
    background-color: #f69b09;
    color: white;
}

.card-icons-area {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}



/* light color on hover */





.card-icon {
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
}

.card-horizontal .card-icon {
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
}


.card .card-wishlist {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.card-horizontal .card-wishlist {
    position: absolute;
    top: unset;
    right: unset;
    top: 2px;
    left: 2px;
    z-index: 1;
}

.card-horizontal .card-wishlist:hover {
    color: white;
}

.card-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    color: #6200ee;
}

.card-horizontal>.card-body {
    display: flex;
    flex-direction: row;
}

.card-horizontal .card-image {
    height: 100%;
}

.card .card-top-left-badge {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    z-index: 1;
    background-color: #8c14e7;
    padding: var(--padding-extra-small);
    border-radius: var(--border-radius-extra-small);
    color: #fff;
    font-size: var(--font-size-extra-small);
}