:root {
    --button-success-color: #28a745;
    --button-success-color-hover: #218838;
    --button-primary-color: #007bff;
    --button-primary-color-hover: #0069d9;
    --button-danger-color: #dc3545;
    --button-danger-color-hover: #bd2130;
    --button-warning-color: #ffc107;
    --button-warning-color-hover: #ffb300;
    --button-info-color: #17a2b8;
    --button-info-color-hover: #138496;
    --button-secondary-color: #6c757d;
    --button-secondary-color-hover: #5a6268;
    --button-success-color-hover-border: #218838;
    --button-primary-color-hover-border: #0069d9;
    --button-danger-color-hover-border: #bd2130;
    --button-warning-color-hover-border: #ffb300;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--button-primary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--button-primary-color-hover);
}

.btn-secondary {
    background-color: var(--button-secondary-color);
    color: #fff;
    border-color: var(--button-secondary-color);
}

.btn-secondary:hover {
    background-color: var(--button-secondary-color-hover);
}

.btn-success {
    background-color: var(--button-success-color);
    color: #fff;
    border-color: var(--button-success-color);
}

.btn-success:hover {
    background-color: var(--button-success-color-hover);
}

.btn-danger {
    background-color: var(--button-danger-color);
    color: #fff;
    border-color: var(--button-danger-color-hover);
}

.btn-danger:hover {
    background-color: var(--button-danger-color-hover);
}

.btn-warning {
    background-color: var(--button-warning-color);
    color: #000;
    border-color: var(--button-warning-color-hover);
}

.btn-warning:hover {
    background-color: var(--button-warning-color-hover);
}

.btn-info {
    background-color: var(--button-info-color);
    color: #fff;
    border-color: var(--button-info-color-hover);
}

.btn-info:hover {
    background-color: var(--button-info-color-hover);
}


/* link buttons */
.btn-link {
    text-decoration: none;
}

.btn-link:hover {
    background-color: #f4f4f5;
    color: black;
}

/* outlined buttons */

.btn-outlined-primary {
    border: 1px solid var(--button-primary-color);
    color: var(--button-primary-color);
}

.btn-outlined-primary:hover {
    background-color: var(--button-primary-color);
    color: #fff;
}

.btn-outlined-secondary {
    border: 1px solid var(--button-secondary-color);
    color: var(--button-secondary-color);
}

.btn-outlined-secondary:hover {
    background-color: var(--button-secondary-color);
    color: #fff;
}

.btn-outlined-success {
    border: 1px solid var(--button-success-color);
    color: var(--button-success-color);
}

.btn-outlined-success:hover {
    background-color: var(--button-success-color);
    color: #fff;
}

.btn-outlined-danger {
    border: 1px solid var(--button-danger-color);
    color: var(--button-danger-color);
}
.btn-outlined-danger:hover {
    background-color: var(--button-danger-color);
    color: #fff;
}

.btn-outlined-warning {
    border: 1px solid var(--button-warning-color);
    color: var(--button-warning-color);
}

.btn-outlined-warning:hover {
    background-color: var(--button-warning-color);
    color: #fff;
}

.btn-outlined-info {
    border: 1px solid var(--button-info-color);
    color: var(--button-info-color);
}

.btn-outlined-info:hover {
    background-color: var(--button-info-color);
    color: #fff;
}

/* button icon */
.btn-icon {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* button sizes */
.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}