.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}


.ratings {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: white;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffab4a;
}

.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 0.8rem;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #b3b3b3;
}

.full-stars:before {
  -webkit-text-stroke: 1px #ffab4a;
}

.rating-number {
  background-color: #ffab4a;
  color: rgb(0, 0, 0);
  padding: 0 0.25rem;
  font-size: 0.8rem;
  border-radius: var(--border-radius-extra-small);
  font-weight: bold;
}