.toast-container {
    position: fixed;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    visibility: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
    z-index: 9999;

    width: 100%;
    max-width: 500px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #333; 
    color: #fff; 
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.toast-container.show {
    visibility: visible;
    --webkit-animation: fadein 1s, fadeout 1s 2.5s;
    animation: fadein 1s, fadeout 1s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 1rem; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 1rem; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 1rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 1rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

.toast-message {
    padding: 0.25rem 0.5rem;
}
.toast-message-header {
    font-weight: bold;
    font-size: smaller;
}
.toast-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.toast-message-body {
    padding: 0.5rem;
}